<div class="mt-4">
    <a href="/me/stored/courses">Danh Sach Khoa Hoc</a>
    <h5>Khoa Hoc Da Xoa</h5>
    
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Ten Khoa Hoc</th>
            <th scope="col">Trinh Do</th>
            <th scope="col" colspan="2">Thoi Gian Xoa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}

            

                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a class="btn btn-link btn-restone" data-id="{{this._id}}"  >Khoi Phuc</a>
                        <button class="btn btn-link" data-id="{{this._id}}"  data-toggle="modal" data-target="#delete-course-modal">Xoa Vinh Vien</button>
                    </td>

                </tr>

                {{else}}
                <tr>
                    <td colspan="5">
                        Thung Rac Trong
                        </td>
                    <a href="/courses/create">Dang Khoa Hoc</a>

                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<form name="delete-form-course" method="POST"></form>
<form name="restore-form-course" method="POST"></form>

<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete Course</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Ban Muon Xoa Vinh Vien Course ???
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btn-delete-course" type="button" class="btn btn-danger">Delete Course</button>
        </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        var btnDeleteCourse=document.getElementById("btn-delete-course")
        var courseId;
        var deleteForm=document.forms['delete-form-course']
        var restoreForm=document.forms['restore-form-course']
        var restoneBtn=$('.btn-restone')

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            var id = button.data('id')
            console.log(id)
            courseId=id
        })

        btnDeleteCourse.onclick=function(){
            
            deleteForm.action='/courses/'+courseId+'/delete?_method=DELETE'
            deleteForm.submit()
        }
        restoneBtn.click(function(e){
            e.preventDefault()
            var courseId=$(this).data('id')
            restoreForm.action='/courses/'+courseId+'/restore?_method=PATCH'
            restoreForm.submit()

        })
    })



</script>
